/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  overflow: hidden; /* Ensure that the background image doesn't cause scrolling */
}

/* Fallback for browsers that don't support backdrop-filter */
.App-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10;
  width: 100%;
  height: 100%;
  background: rgba(5, 2, 2, 0.5); /* Adjust the color and transparency as needed */
  z-index: -1; /* Place the overlay behind the background image */
}

/* Apply backdrop-filter for browsers that support it */
@media (prefers-reduced-motion: no-preference) {
  .App-container {
    backdrop-filter: blur(200px); /* Adjust the blur strength as needed */
  }
}

/* Add a semi-transparent overlay to make the text more readable */
.App-container {
  position: relative;
  z-index: 1;
  background: url('./images/netflix-roulette-background.jpg') center/cover fixed; /* Adjust the alpha value as needed */
  padding: 20px;
  border-radius: 10px;
} 
